*{
  box-sizing: border-box;
}
:root {
  --back-color: rgb(255, 235, 247); 
  --text-color: rgb(106, 40, 97);
  --des-color: rgba(106, 40, 97, 0.664);
}
body{
  background-color: var(--back-color);
  color: var(--text-color);
}
main {
  max-width: 360px;
  margin: 80px auto;
}
h1 {
  text-align: center;
  font-weight: bolder;
  margin: 0;
  font-size: 2.5em;
}
h1 span{
  font-size: 1rem;
}
form {
  margin-top: 20px;
}
form .basic {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
form input {
  width: 100%;
  background-color: transparent;
  color: var(--text-color);
  border: 2px solid;
  padding: 7px;
  border-radius: 5px;
}
form button{
  background-color: var(--text-color);
  color: var(--back-color);
  width: 100%;
  margin-top: 10px;
  padding: 7px;
  border-radius: 5px;
  border: 2px solid var(--text-color);
  font-weight: bolder;
  cursor: pointer;
}
.purchases {
  margin-top: 10px;
}
.purchase {
  display: flex;
  justify-content: space-between;
  padding: 7px 0;
  border-top: 1px solid var(--des-color);
}
.purchase:first-child{
  border-top: 0;
}
.purchase .name, .price{
  font-size: 1.2rem;
}
.purchase .description , .datetime{
  font-size: 0.8rem;
  color: var(--des-color);
}
.right {
  text-align: right;
}